<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- link layout.css file in assets folder -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- automatically placing the founded styles here -->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>

    <body>
        <!-- importing header using ejs (_header.ejs file in same folder) -->
        <%- include('_header'); -%>

       

        <main id="layout-main">

            <%- body %>
            
        </main>

        <!-- importing footer using ejs (_footer.ejs file in same folder) -->
        <%- include('_footer'); -%>

        <!-- automatically placing the founded scripts here -->
        <%- script %>

        <script>
            <% if(flash.success && flash.success.length > 0){ %> 
        
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.success%>",
                    type: 'success',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
            <% } %>

            <% if(flash.error && flash.error.length > 0){ %> 
        
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.error%>",
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
            <% } %>

            

        </script>

    </body>
</html>