<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body> -->
        <!-- importing header using ejs (_header.ejs file in same folder) -->
        <!-- <%- include('_header'); -%> -->

        <link rel="stylesheet" href="/css/users.css">
        <h1>Codeial/ Users page / <%= title %></h1>

        <p>Name : <%= user.name%> </p>
        <p>Email: <%= user.email%> </p>

        <!-- <a href="/users/sign-out"> LOG OUT</a> -->

        <!-- importing footer using ejs (_footer.ejs file in same folder) -->
        <!-- <%- include('_footer'); -%>
    </body>
</html> -->